{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="page-content">

<!--login start-->

 <div class="col-cg-5 mt-6 mt-cg-0">
        <div class="border-0 rounded p-5 bg-light-1 contact-info">

        <div class="d-flex mb-4 border-bottom pb-4">
          <div class="mr-2"> <i class="las la-map-marker-alt ic-2x text-primary"></i></i>
          </div>
          <div>
            <h6 class="mb-1 text-dark">We are located here for you</h6>
            <p class="mb-0">HCMUE, 280 An Duong Vuong st, District 5, HCM VN</p>
          </div>
        </div>
        <div class="d-flex mb-4 border-bottom pb-4">
          <div class="mr-2"> <i class="las la-envelope ic-2x text-primary"></i>
          </div>
          <div>
            <h6 class="mb-1 text-dark">We're here for you! Just get answers</h6>
            <a href="#">info@domain.com / services@domain.com</a>
          </div>
        </div>
        <div class="d-flex mb-4 border-bottom pb-4">
          <div class="mr-2"> <i class="las la-mobile ic-2x text-primary"></i>
          </div>
          <div>
            <h6 class="mb-1 text-dark">Have any questions? Reach us by phone</h6>
            <a href="#">1-800-222-000 / 1-800-222-002</a>
          </div>
        </div>
        <div class="d-flex mb-2">
          <div class="mr-2"> <i class="las la-pen ic-2x text-primary"></i>
          </div>
          <div>
            <h6 class="mb-1 text-dark">Explore most popular help topics</h6>
            <span>Lorem ipsum is simply dummy text typesetting</span>
          </div>
        </div>

        </div>
</div>
</div>

{% endblock body %}