  <section class="bg-pink py-9 position-relative overflow-hidden">
      <div class="container">
        <div class="row justify-content-center text-center mb-1">
          <div class="col-lg-6 col-md-10">
            <div class="mb-4">
              <h2 class="mb-0">Be the first and get weekly updates</h2>
            </div>
            <div class="subscribe-form">
              <form action="https://gmail.us5.list-manage.com/subscribe/post?u=fae320193063e9497a641e54c&amp;id=ecada7ba1d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate class="row align-items-center no-gutters mb-3">
                <div class="col">
                  <input value="" name="EMAIL" class="email form-control input-2 bg-white" id="mce-EMAIL" placeholder="Email Address" required type="email">
                </div>
                <div class="col-auto">
                  <input class="btn dark-btn overflow-auto" id="mc-embedded-subscribe" name="subscribe" value="Subscribe" type="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--multi sec end--> 
    
  </div>
  
  <!--body content end--> 
  
  <!--footer start-->
  
  <footer class="py-11 bg-dark-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4"> <a class="footer-logo text-white h2 mb-0" href="index.html"> <img class="img-fluid" src="sta images/footer-logo.png" alt="logo"> </a>
          <p class="my-3 text-muted pr-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in velit a nibh ullamcorper dictum a malesuada ex. Donec sit amet volutpat nunc.</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-facebook"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-dribbble"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-instagram"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-twitter"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class="la la-linkedin"></i></a> </li>
            <li class="list-inline-item"><a class="text-muted ic-2x" href="#"><i class=" lab la-pinterest-p"></i></a> </li>
          </ul>
        </div>
      </div>

    </div>
  </footer>
  